---
layout: base.njk
templateEngineOverride: md, njk
---

{# A tiny extra style for the starter home page, intended to be removed as you customize to fit your own content! #}

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  /* Adjusting the margins to reduce gaps */
  .tdbc-hero h1 {
    margin-bottom: 0rem; /* Adjust this value as needed */
  }
  .tdbc-hero h2 {
    margin-top: 0.5rem; /* Adjust this value as needed */
    margin-bottom: 2rem; /* Adjust this value as needed */
  }

</style>
<header class="tdbc-hero">
<div class="tdbc-container">
    <span class="logo">
      <img src="/img/semiPIN_logo.png" alt="Site Logo" />
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
    
  </style>

<h2 id="quickfacts" class="tdbc-h3 tdbc-mt-lg">Quick Facts</h2>

1. SemiPIN Pte. Ltd. was officially incorporated in Singapore in 2010.

1. All our key engineers have > 20 years of instrumentation design and test development experience.

1. We focus on customized instrumentation design for ATE tester add-on.

1. Highlights: `high speed ATE digital pin (100MHz)`, `high accuracy analog output (30uV) for ADC test`, `FPGA development`.

1. Application support throughout Asia (`Japan`, `South East Asia`, `China`).


</main>
