---
layout: base.njk
templateEngineOverride: md, njk
---

{# A tiny extra style for the starter home page, intended to be removed as you customize to fit your own content! #}

<style>
  .logo {
    width: 12vmax;
    height: 12vmax;
    margin: 0 auto 2rem;
  }

  /* Adjusting the margins to reduce gaps */
  .tdbc-hero h1 {
    margin-bottom: 0rem; /* Adjust this value as needed */
  }
  .tdbc-hero h2 {
    margin-top: 0.5rem; /* Adjust this value as needed */
    margin-bottom: 2rem; /* Adjust this value as needed */
  }

</style>
<header class="tdbc-hero">
<div class="tdbc-container">
    <span class="logo">
      <img src="/img/MrYouTiao_2000x1200-1024x614.png" height=307px width=512px alt="YouTiao Logo" />
    </span>
    <h1 class="tdbc-ink--primary tdbc-mb-none">{{ meta.siteName }}</h1>
    <h2 class="tdbc-lead tdbc-content-maxlength tdbc-ink--gray tdbc-mt-md tdbc-mx-auto">
      {{ meta.siteDescription }}
    </h2>
  </div>
</header>
<main class="tdbc-container">
  <div class="tdbc-section">
    <ul class="tdbc-column-container">
      {%- for page in collections.pages -%}
      <li class="tdbc-card">
        <div class="tdbc-card__content">
          <a href="{{ page.url }}" class="tdbc-card__title">{{ page.data.title }}</a>
          <p>{{ page.data.description }}</p>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <style>
    
  </style>

<h2 id="Traditional YouTiao with a Twist!" class="tdbc-h3 tdbc-mt-lg">Quick Facts</h2>

Since 2007, Mr YouTiao has been promoting youtiao, an otherwise plain and traditional snack.

Why youtiao you may ask? Because YouTiao is tasty, crispy, fluffy and chewy all at once! We believe the combination is unique and unmatched among other dough-related food products.

14 years on, we now serve a whole range of food & beverage items that compliment YouTiao. Traditional coffee and tea, soya milk, beancurd, porridge, curry chicken, bah kut teh, tastie noodles, butterfly buns… You name it!

Our latest invention is YouTiao with home-made curry dip.. Yummy! YouTiao is the new prata!

As our tagline suggests, it is “Traditional YouTiao with a Twist” indeed!

As a café… people drop in for breakfast, lunch, tea, dinner, even supper.

Available for dine-in, take-way and delivery… Come join us for a taste of nostalgia! 


</main>
